# Gradle files
.gradle/
build/
*/build/

# Local configuration file (sdk path, keystore, dll)
local.properties

# Android Studio
.idea/
*.iml

# Log / temp
*.log
*.cache
*.apk
*.ap_
*.aab
captures/

# NDK
obj/
*.so

# Mac / Windows
.DS_Store
Thumbs.db
