<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
        <package android:name="com.whatsapp" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.android.chrome" />
    </queries>

    <application
        android:allowBackup="false"
        android:label="Astra"
        android:supportsRtl="true"
        android:theme="@style/Theme.Astra"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
